/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
header {
    background-image: url(https://fin6.us/wp-content/uploads/2013/08/ca45a40d37288ae63e116d9befa42b5f.jpg);
}
*/

#header {
  background-image: url(http://i61.tinypic.com/iwmcso.jpg);
    background-size: cover;
    background-position: center center;
    /*height: 480px;*/
    max-width: 100%;
    background-origin: content-box;
    position:relative;
    padding-bottom:40%; 
}


.content-wrapper {
    width: 80%;
    min-width: 500px;
    margin: 0 auto;
}

.blog-article {
    float: right;
    width: 62%;
    margin-top: 1.8em;
    letter-spacing: -1px;
}

article h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    line-height:2em;
    font-weight: 800;
}

aside { 
    float: left;
    width: 30%;
    margin-top: -6em; 
    position:relative;
}

.profile-pic img {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: .8em solid white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

aside p {
    width: 75%;
    font-family: 'PT Sans', sans-serif;
    color: grey;
}


aside ul {
    border-top: 0.1em solid lightgrey;
    border-bottom: 0.1em solid lightgrey;
    width:60%;
    text-align: left;
    padding: 2em;
    
}

aside li {
   display: block;
   text-align: left;  
    font-family: 'PT Sans', sans-serif;
    color: lightgrey;
    padding: 0.5em;
    margin-left: -2em; 
    font-size: 1.2em;
    
}

.social-icons {
    border-bottom: 0.1em solid lightgrey;
    width: 81%;
    color: grey;
}

.social-icons i {
    height: 2em;
    width: 1em;
    color: grey;
    padding-right: 0.5em;
}

form h3 {
    color: lightgrey;
    font-family: 'PT Sans', sans-serif;
}

input {
    width: 81%;
}

form i {
    color: lightgrey;
}

article p {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7em;
    color: grey;
}

.article-bottom a {
    color: grey;
    padding: 0.5em;
    border: 0.1em solid grey;
}

.article-bottom span {
    float: right;
    margin-top: -0.7em;
    color: grey;
    margin-bottom: 5em;
}


footer {
    clear: both;
    margin-top: 5em;
    border-top: 0.1em solid lightgrey;
    padding-top: 2em;
    height: 200px;
    word-wrap: break-word;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1060px;
    min-width: 720px;
}

.footer-pic { 
float:left;
padding-left: 10%;
display:inline-block; 
}



footer img{
    border-radius: 100%;
    height: 5em;
    width: 5em;
}

.footer-info {
    display:inline-block;
    color: lightgrey;
    line-height: 2em;
    position: absolute;
    margin-left: 10%;
    padding-right: 10%;
    clear:both;
}

.social-icons-footer {
    width: 81%;
    color: grey;
    
}

.social-icons-footer i {
    height: 2em;
    width: 1em;
    color: grey;
    padding-right: 0.5em;
}

@media screen and (max-width: 769px) {
    
    aside {
      float:none;
      width: 100%;
      text-align: center;
    }


aside p {
    text-align: center;
    width: 100%;
}


aside ul {
    width: 100%;
    border: none;
    text-align: center;
}



aside li {
   display: inline-block; 
    text-align:center;
    padding: 0 2.5em;
    font-size: 1.2em;
}


.social-icons h3 {
    display: none;
}

.social-icons {
    
    border-bottom: none;
    width: 100%;
}
    
.social-icons i {
    padding: 0 0.6em;
    
}    
    
form h3 {
    display: none;
}

input {
    width: 30%;
}
    
.blog-article {
    float: none;
    width: 100%;
    margin-top: 3em; 
}    

.blog-article h1 {
    text-align:center;
}    
}


    

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
